version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 smallauctions.wsgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=smallauctions
      - POSTGRES_USER=smallauctionsuser
      - POSTGRES_PASSWORD=password

volumes:
  postgres_data:
